<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我们</title>
    <link rel="stylesheet" href="css/contact-header.css">
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    {{include './contact-header.html'}}
    <div class="lsjj">
        <h2>老森简介</h2>
        <p>老森网络科技股份有限公司（以下简称公司）1999年在海南创立，是国内知名的互联网增值服务平台运营商，也是海南为数不多的全球布局的高新技术企业。目前，公司在北京、上海、广州、深圳、成都、重庆、厦门、青岛、贵阳、南宁、新加坡、美国硅谷等地设立了分支机构。公司运营的主要项目有知名中文网络社区——天涯社区(www.tianya.cn )、全球旅游电子商务平台——天涯客旅游网（www.tianyaclub.com）、海南主要的综合性门户网站之一——海南在线（www.hainan.net ）。公司创始人邢明，海南文昌人，出生于河北沧州，1991年毕业于中山大学中文系，2009年获长江商学院工商管理硕士学位，2016年获清华大学五道口金融学院工商管理硕士学位，是中国早期互联网创业者之一，是全国宣传文化系统“四个一批”人才，在中国互联网产业界拥有特殊的地位和较大的影响力。

            老森社区（www.tianya.cn）创立于1999年，以“全球华人网上家园”为愿景，致力于打造最具影响力的全球华人内容创作和知识分享社交平台。目前，天涯社区注册用户超过1.3亿，月覆盖用户超过2.5亿，拥有大量高忠诚度、高质量用户群所产生的超强人气和互动原创内容，形成了独具天涯特色的网民文化，其开放、包容、充满人文关怀的特色受到国内网民乃至全球华人的推崇。
         
             海南在线（www.hainan.net）创立于1999年，以“构筑网上海南”为使命，是国务院新闻办批准的具有新闻转载权的、海南本地知名的综合性资讯和电子商务平台。网站设有房产、人才、新闻、汽车、家装、城市消费、教育、健康、分类信息等频道，是海南主要的大数据智能服务平台之一，也是海南对外开放的重要资讯窗口。
         
             老森社区网络科技股份有限公司是海南首批引进谷歌（Google）、君联资本（联想投资）、清科集团等国际顶级风险投资的IT企业，现已完成股份制改造，目前正积极推进新的IPO进程。</p>
             <div class="foot">
                <p>©2021-2022老森社区</p>
            </div>
    </div>
</body>
</html>