<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>广告服务</title>
    <link rel="stylesheet" href="css/contact-header.css">
    <link rel="stylesheet" href="css/ad.css">
</head>
<body>
    {{include './contact-header.html'}}
   <div class="ad">
    <div class="pic">
        <img src="images/swqt.png" alt="">
    </div>
    <div class="wx">
        <img src="images/wx.jpg" alt="">
        <p class="title">官方营销微信号</p>
        <p class="js">
            老森社区营销系统官方微信号，定期整理推送社会热点、老森社区营销经典案例、
老森社区近期活动。更有不定期线下营销主题沙龙和活动，齐聚业内外精英共同探
讨社区“营销之道”。
        </p>
    </div>
    <div class="pic p-o">
        <img src="images/gghz.png" alt="">
    </div>
    <div class="he-logo">
        <ul>
            <li><img src="images/hz_7day.jpg" alt=""></li>
            <li><img src="images/hz_bm.jpg" alt=""></li>
            <li><img src="images/hz_dz.jpg" alt=""></li>
            <li><img src="images/hz_hh.jpg" alt=""></li>
            <li><img src="images/hz_jt.jpg" alt=""></li>
            <li><img src="images/hz_kfc.jpg" alt=""></li>
            <li><img src="images/hz_ln.jpg" alt=""></li>
            <li><img src="images/hz_lx.jpg" alt=""></li>
            <li><img src="images/hz_wlj.jpg" alt=""></li>
            <li><img src="images/hz_yly.jpg" alt=""></li>
            <li><img src="images/hz_zc.jpg" alt=""></li>
            <li><img src="images/hz_oly.jpg" alt=""></li>
            <li><img src="images/hz_wk.jpg" alt=""></li>
        </ul>
    </div>
    <div class="foot">
        <p>©2021-2022老森社区</p>
    </div>
   </div>
</body>
</html>