<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发帖规范</title>
    <link rel="stylesheet" href="css/contact-header.css">
    <link rel="stylesheet" href="css/privacy.css">
</head>
<body>
    {{include './contact-header.html'}}
    <div class="cv-contant">
        <h2>发帖须知</h2>
        <div class="notearea">
            <strong>声明:</strong>
            <p>依照法律规定删除违规内容是老森社区的法定义务，当事方不需要委托第三方进行投诉，老森社区亦未与任何中介机构合作开展此项业务。 </p>
        </div>
        <h2>发帖细则</h2>
        <div class="bqsm">
            <ul>
                <li>所编辑内容基于原创，禁止盗帖、盗图等行为;</li>
                <li>未经站方许可，所编辑内容不得添加手机号、QQ号、微信号和其他非本站内容的联系方式;</li>
                <li>未经站方许可，不得在所编辑的帖子里添加淘宝、京东等网购或其他商业性质的链接(包括网店的店名，截图图片)。帖子里的图片可以处理后再发出来，务必没有广告性质，禁止一切软文营销活动;</li>
                <li>不要把自己的联系方式发给不熟悉的人，谨防欺诈;</li>
                <li>不得在帖子内编辑含有挑衅、谩骂他人的内容;不得编辑虚假信息诱导其他网友回复;</li>
                <li>禁止在帖子里谈论时政新闻或国家领导人及政府机关等。</li>
            </ul>
        </div>
        <h2>发帖应该知道的事项</h2>
        <div class="bqsm">
            <ul>
                <li>给自己的帖子取一个让人有点击欲望的标题;</li>
                <li>不支持直接复制内容到编辑器，这样操作会导致内容无法正常显示;</li>
                <li>段落的过渡可以适当空开一行让排版更清晰明了;</li>
                <li>在排版上，横图比竖图来得要美观些;文字与图片不宜两极分化，这样容易使图文失去关联;</li>
                <li>编辑器支持自动定时保存数据，也可以先将内容存到草稿箱，下次登录再继续编辑。</li>
            </ul>
        </div>
        <div class="foot">
            <p>©2021-2022老森社区</p>
        </div>
    </div>
</body>
</html>


