body {
  background-color: #f9f9f9;
}
.main {
  width: 340px;
  margin: 0 auto;
  margin-top: 50px;
  color: #333;
  margin-bottom: 80px;
}
.main .header {
  text-align: center;
}
.main .header h1 {
  font-size: 26px;
  margin-bottom: 20px;
}
.main form {
  position: relative;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #d8dee2;
  border-radius: 5px;
  background-color: #fff;
}
.main .message {
  padding: 10px;
  padding-bottom: 0;
  border-radius: 5px;
}
a:hover {
  text-decoration: none;
}
.dis-btn {
  background-color: #85af85;
}
.msg {
  width: 220px;
  height: 30px;
  color: red;
  font-size: 14px;
  position: absolute;
  right: 8px;
  bottom: 54px;
}
.msgg {
  width: 220px;
  height: 30px;
  color: red;
  font-size: 14px;
  position: absolute;
  left: 40px;
  bottom: 54px;
}
.pwd-msg {
  width: 220px;
  height: 30px;
  color: red;
  font-size: 14px;
  position: absolute;
  left: 60px;
  bottom: 50px;
}
.pwd-btn {
  margin-top: 30px;
}
.sign {
  margin-top: 40px;
}
